future
emoji
requests
sqlalchemy
python-telegram-bot>=11.1.0
psycopg2-binary
pyowm
bs4
lxml
demjson
PyLyrics
wget
gTTS
pynewtonmath
telegram
zalgo_text
feedparser
py_translator
bs4
lxml
pyowm
spongemock
geopy
Pillow>=4.2.0
PyLyrics

































