future
emoji
requests
sqlalchemy
python-telegram-bot>=8.0.0
psycopg2-binary
pyowm
bs4
lxml
demjson
PyLyrics
wget
gTTS
telegram
zalgo_text
feedparser
pynewtonmath
bs4
lxml
pyowm
spongemock
geopy
gsearch
wikipedia
PyLyrics
